.colorTitle{
    background-color: #FFF!important;
    color:black;
}

.colorSubTitle{
    background-color: #FFF!important;
    color:rgb(66, 58, 58);
}
.home .title{
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.2;
}

.home .subtitle{
    font-size: 1.1rem;
}